web-service/Inventory/Inventory.Domain/UserItems.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="value" type="xs:string"/>
	<xs:element name="username" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="game" type="xs:string"/>
	<xs:element name="expirationDate" type="xs:dateTime"/>
	<xs:element name="quantity" type="xs:positiveInteger"/>
	<xs:element name="user">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="username"/>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="quantity"/>
				<xs:element ref="expirationDate"/>
				<xs:element ref="game" maxOccurs="unbounded"/>
				<xs:element ref="property" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
